.jumbotron {
  height: 600px;
  margin: 0px;
  background-image: url("../img/backgrounds/landing.jpg");
  color: white;
  text-align: center;
}

#party {
  background-color: #F15A29;
  padding: 25px;
  margin: 0px;
  height: 95px;
  width: 100%;
  text-align: center;
}

#happy {
  padding: 25px;
  margin: 0px;
  height: 95px;
  text-align: center;
}

#breakfast {
  background-image: url("../img/foodtop/breakfast.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0px;
  padding: 80px;
  color: white;
}

#lunch {
  background-image: url("../img/foodtop/lunch.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0px;
  padding: 80px;
  color: white;
}

#dinner {
  background-image: url("../img/foodtop/dinner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0px;
  padding: 80px;
  color: white;
}
#twinpics{
  display: inline;
}
#custom-effect {
 width:30%;
 margin-top: 50px;
 margin-left: 90px;
 padding: 10px;
 border-style: hidden;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
box-shadow: 0 9px 18px 0 rgba(0,0,0,0.2);
float: left;
}
.sidebar{
  background-color: #F15A29;
  width: 100px;
  height: 300px;
  font-family: sans-serif;
  display: none;
  position: fixed;
  z-index: 1;
}
.nav div{
  height: 2px;
  background-color: white;
  margin: 5px 0;
}
.nav{
  width: 30px;
  display: block;
  margin-left: 100px;
  position: absolute;
  margin-top: 0px;
}
